<!-- update-user.component.html -->

<div *ngIf="user">
    <h2>Update User</h2>
    <form (submit)="updateUserInfo()">
      <div>
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="updatedUser.name" name="name" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" [(ngModel)]="updatedUser.email" name="email" required>
      </div>
      <div>
        <label for="occupation">Occupation:</label>
        <input id="occupation" [(ngModel)]="updatedUser.occupation" name="occupation">
      </div>
      <div>
        <label for="bio">Bio:</label>
        <textarea id="bio" [(ngModel)]="updatedUser.bio" name="bio"></textarea>
      </div>
      <button type="submit">Update User</button>
    </form>
  </div>
  