<!-- add-user.component.html -->

<div>
    <h2>Add User</h2>
    <form (submit)="addUser()">
      <div>
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="newUser.name" name="name" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" [(ngModel)]="newUser.email" name="email" required>
      </div>
      <div>
        <label for="occupation">Occupation:</label>
        <input id="occupation" [(ngModel)]="newUser.occupation" name="occupation">
      </div>
      <div>
        <label for="bio">Bio:</label>
        <textarea id="bio" [(ngModel)]="newUser.bio" name="bio"></textarea>
      </div>
      <button type="submit">Add User</button>
    </form>
  </div>
  