<h2>Liste des Utilisateurs</h2>

<label for="emailFilter">Filtrer par Email:</label>
<input type="text" id="emailFilter" [(ngModel)]="emailFilter" (input)="applyFilter()"/>

<table mat-table [dataSource]="filteredUsers" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let user">{{ user.name }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
  </ng-container>

  <ng-container matColumnDef="occupation">
    <th mat-header-cell *matHeaderCellDef>Occupation</th>
    <td mat-cell *matCellDef="let user">{{ user.occupation }}</td>
  </ng-container>

  <ng-container matColumnDef="bio">
    <th mat-header-cell *matHeaderCellDef>Bio</th>
    <td mat-cell *matCellDef="let user">{{ user.bio }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let user">
      <button mat-button (click)="viewDetails(user.id)">Details</button>
      <button mat-button (click)="updateUser(user.id)">Update</button>
      <button mat-button (click)="deleteUser(user.id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
